<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.weixin.mapper.ArticleTaskMapper">

    <resultMap type="ArticleTaskDTO" id="ArticleTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="articleTaskName"    column="article_task_name"    />
        <result property="bizDate"    column="biz_date"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdDate"    column="created_date"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedDate"    column="updated_date"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectArticleTaskVo">
        select task_id, article_task_name, biz_date, created_by, created_date, updated_by, updated_date, del_flag from article_task
    </sql>

    <select id="selectArticleTaskList" parameterType="ArticleTaskDTO" resultMap="ArticleTaskResult">
        <include refid="selectArticleTaskVo"/>
        <where>
            <if test="articleTaskName != null  and articleTaskName != ''"> and article_task_name like concat('%', #{articleTaskName}, '%')</if>
            <if test="bizDate != null  and bizDate != ''"> and biz_date = #{bizDate}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="params.beginCreatedDate != null and params.beginCreatedDate != '' and params.endCreatedDate != null and params.endCreatedDate != ''"> and created_date between #{params.beginCreatedDate} and #{params.endCreatedDate}</if>
        </where>
    </select>

    <select id="selectArticleTaskByTaskId" parameterType="Long" resultMap="ArticleTaskResult">
        <include refid="selectArticleTaskVo"/>
        where task_id = #{taskId}
    </select>

    <insert id="insertArticleTask" parameterType="ArticleTaskDTO" useGeneratedKeys="true" keyProperty="taskId">
        insert into article_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleTaskName != null and articleTaskName != ''">article_task_name,</if>
            <if test="bizDate != null and bizDate != ''">biz_date,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdDate != null">created_date,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updatedDate != null">updated_date,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleTaskName != null and articleTaskName != ''">#{articleTaskName},</if>
            <if test="bizDate != null and bizDate != ''">#{bizDate},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdDate != null">#{createdDate},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedDate != null">#{updatedDate},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateArticleTask" parameterType="ArticleTaskDTO">
        update article_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="articleTaskName != null and articleTaskName != ''">article_task_name = #{articleTaskName},</if>
            <if test="bizDate != null and bizDate != ''">biz_date = #{bizDate},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdDate != null">created_date = #{createdDate},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updatedDate != null">updated_date = #{updatedDate},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteArticleTaskByTaskId" parameterType="Long">
        delete from article_task where task_id = #{taskId}
    </delete>

    <delete id="deleteArticleTaskByTaskIds" parameterType="String">
        delete from article_task where task_id in
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>


    <select id="selectArticleByBizDate" parameterType="java.lang.String" resultMap="ArticleTaskResult">
        <include refid="selectArticleTaskVo"/>
        where  biz_date = #{bizDate} and del_flag='0'
    </select>
</mapper>
