<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.stock.mapper.StockBoardHisMapper">

    <resultMap type="StockBoardHis" id="StockBoardHisResult">
        <result property="hisBoardId"    column="his_board_id"    />
        <result property="serialNo"    column="serial_no"    />
        <result property="boardCode"    column="board_code"    />
        <result property="boardName"    column="board_name"    />
        <result property="boardType"    column="board_type"    />
        <result property="dataSource"    column="data_Source"    />
        <result property="latestPrice"    column="latest_price"    />
        <result property="priceRiseFall"    column="price_rise_fall"    />
        <result property="changePercent"    column="change_percent"    />
        <result property="totalMarketValue"    column="total_market_value"    />
        <result property="turnoverRate"    column="turnover_rate"    />
        <result property="riseNum"    column="rise_num"    />
        <result property="fallNum"    column="fall_num"    />
        <result property="leadingStocks"    column="leading_stocks"    />
        <result property="leadingStocksChangePercent"    column="leading_stocks_change_percent"    />
        <result property="bizDate"    column="biz_date"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdDate"    column="created_date"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedDate"    column="updated_date"    />
    </resultMap>

    <sql id="selectStockBoardHisVo">
        select his_board_id, serial_no, board_code, board_name, board_type, data_Source, latest_price, price_rise_fall, change_percent, total_market_value, turnover_rate, rise_num, fall_num, leading_stocks, leading_stocks_change_percent, biz_date, created_by, created_date, updated_by, updated_date from stock_board_his
    </sql>

    <select id="selectStockBoardHisList" parameterType="StockBoardHis" resultMap="StockBoardHisResult">
        <include refid="selectStockBoardHisVo"/>
        <where>
            <if test="serialNo != null "> and serial_no = #{serialNo}</if>
            <if test="boardCode != null  and boardCode != ''"> and board_code = #{boardCode}</if>
            <if test="boardName != null  and boardName != ''"> and board_name like concat('%', #{boardName}, '%')</if>
            <if test="boardType != null  and boardType != ''"> and board_type = #{boardType}</if>
            <if test="dataSource != null  and dataSource != ''"> and data_Source = #{dataSource}</if>
            <if test="latestPrice != null  and latestPrice != ''"> and latest_price = #{latestPrice}</if>
            <if test="priceRiseFall != null  and priceRiseFall != ''"> and price_rise_fall = #{priceRiseFall}</if>
            <if test="changePercent != null  and changePercent != ''"> and change_percent = #{changePercent}</if>
            <if test="totalMarketValue != null  and totalMarketValue != ''"> and total_market_value = #{totalMarketValue}</if>
            <if test="turnoverRate != null  and turnoverRate != ''"> and turnover_rate = #{turnoverRate}</if>
            <if test="riseNum != null "> and rise_num = #{riseNum}</if>
            <if test="fallNum != null "> and fall_num = #{fallNum}</if>
            <if test="leadingStocks != null  and leadingStocks != ''"> and leading_stocks = #{leadingStocks}</if>
            <if test="leadingStocksChangePercent != null  and leadingStocksChangePercent != ''"> and leading_stocks_change_percent = #{leadingStocksChangePercent}</if>
            <if test="bizDate != null  and bizDate != ''"> and biz_date = #{bizDate}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdDate != null "> and created_date = #{createdDate}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedDate != null "> and updated_date = #{updatedDate}</if>
        </where>
    </select>

    <select id="selectStockBoardHisByHisBoardId" parameterType="Long" resultMap="StockBoardHisResult">
        <include refid="selectStockBoardHisVo"/>
        where his_board_id = #{hisBoardId}
    </select>

    <insert id="insertStockBoardHis" parameterType="StockBoardHis" useGeneratedKeys="true" keyProperty="hisBoardId">
        insert into stock_board_his
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serialNo != null">serial_no,</if>
            <if test="boardCode != null and boardCode != ''">board_code,</if>
            <if test="boardName != null and boardName != ''">board_name,</if>
            <if test="boardType != null and boardType != ''">board_type,</if>
            <if test="dataSource != null">data_Source,</if>
            <if test="latestPrice != null and latestPrice != ''">latest_price,</if>
            <if test="priceRiseFall != null and priceRiseFall != ''">price_rise_fall,</if>
            <if test="changePercent != null">change_percent,</if>
            <if test="totalMarketValue != null and totalMarketValue != ''">total_market_value,</if>
            <if test="turnoverRate != null">turnover_rate,</if>
            <if test="riseNum != null">rise_num,</if>
            <if test="fallNum != null">fall_num,</if>
            <if test="leadingStocks != null and leadingStocks != ''">leading_stocks,</if>
            <if test="leadingStocksChangePercent != null and leadingStocksChangePercent != ''">leading_stocks_change_percent,</if>
            <if test="bizDate != null">biz_date,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdDate != null">created_date,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updatedDate != null">updated_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serialNo != null">#{serialNo},</if>
            <if test="boardCode != null and boardCode != ''">#{boardCode},</if>
            <if test="boardName != null and boardName != ''">#{boardName},</if>
            <if test="boardType != null and boardType != ''">#{boardType},</if>
            <if test="dataSource != null">#{dataSource},</if>
            <if test="latestPrice != null and latestPrice != ''">#{latestPrice},</if>
            <if test="priceRiseFall != null and priceRiseFall != ''">#{priceRiseFall},</if>
            <if test="changePercent != null">#{changePercent},</if>
            <if test="totalMarketValue != null and totalMarketValue != ''">#{totalMarketValue},</if>
            <if test="turnoverRate != null">#{turnoverRate},</if>
            <if test="riseNum != null">#{riseNum},</if>
            <if test="fallNum != null">#{fallNum},</if>
            <if test="leadingStocks != null and leadingStocks != ''">#{leadingStocks},</if>
            <if test="leadingStocksChangePercent != null and leadingStocksChangePercent != ''">#{leadingStocksChangePercent},</if>
            <if test="bizDate != null">#{bizDate},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdDate != null">#{createdDate},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedDate != null">#{updatedDate},</if>
         </trim>
    </insert>

    <update id="updateStockBoardHis" parameterType="StockBoardHis">
        update stock_board_his
        <trim prefix="SET" suffixOverrides=",">
            <if test="serialNo != null">serial_no = #{serialNo},</if>
            <if test="boardCode != null and boardCode != ''">board_code = #{boardCode},</if>
            <if test="boardName != null and boardName != ''">board_name = #{boardName},</if>
            <if test="boardType != null and boardType != ''">board_type = #{boardType},</if>
            <if test="dataSource != null">data_Source = #{dataSource},</if>
            <if test="latestPrice != null and latestPrice != ''">latest_price = #{latestPrice},</if>
            <if test="priceRiseFall != null and priceRiseFall != ''">price_rise_fall = #{priceRiseFall},</if>
            <if test="changePercent != null">change_percent = #{changePercent},</if>
            <if test="totalMarketValue != null and totalMarketValue != ''">total_market_value = #{totalMarketValue},</if>
            <if test="turnoverRate != null">turnover_rate = #{turnoverRate},</if>
            <if test="riseNum != null">rise_num = #{riseNum},</if>
            <if test="fallNum != null">fall_num = #{fallNum},</if>
            <if test="leadingStocks != null and leadingStocks != ''">leading_stocks = #{leadingStocks},</if>
            <if test="leadingStocksChangePercent != null and leadingStocksChangePercent != ''">leading_stocks_change_percent = #{leadingStocksChangePercent},</if>
            <if test="bizDate != null">biz_date = #{bizDate},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdDate != null">created_date = #{createdDate},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updatedDate != null">updated_date = #{updatedDate},</if>
        </trim>
        where his_board_id = #{hisBoardId}
    </update>

    <delete id="deleteStockBoardHisByHisBoardId" parameterType="Long">
        delete from stock_board_his where his_board_id = #{hisBoardId}
    </delete>

    <delete id="deleteStockBoardHisByHisBoardIds" parameterType="String">
        delete from stock_board_his where his_board_id in
        <foreach item="hisBoardId" collection="array" open="(" separator="," close=")">
            #{hisBoardId}
        </foreach>
    </delete>

    <select id="selectMaxId" resultType="Long">
        select max(his_board_id) from stock_board_his
    </select>

    <delete id="deleteStockBoardHisByMaxId" parameterType="Long">
        delete from stock_board_his where his_board_id >= #{hisBoardId}
    </delete>

</mapper>
