<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.stock.mapper.StockZtPoolEmMapper">

    <resultMap type="StockZtPoolEm" id="StockZtPoolEmResult">
        <result property="ztId"    column="zt_id"    />
        <result property="serialNo"    column="serial_no"    />
        <result property="stockCode"    column="stock_code"    />
        <result property="stockName"    column="stock_name"    />
        <result property="changePercent"    column="change_percent"    />
        <result property="latestPrice"    column="latest_price"    />
        <result property="turnover"    column="turnover"    />
        <result property="circulatingMarketValue"    column="circulating_market_value"    />
        <result property="totalMarketValue"    column="total_market_value"    />
        <result property="turnoverRate"    column="turnover_rate"    />
        <result property="sealedFunds"    column="sealed_funds"    />
        <result property="firstSealedTime"    column="first_sealed_time"    />
        <result property="lastSealedTime"    column="last_sealed_time"    />
        <result property="bizDate"    column="biz_date"    />
        <result property="breakNum"    column="break_num"    />
        <result property="priceLimitStatistics"    column="price_limit_Statistics"    />
        <result property="continuousNum"    column="continuous_num"    />
        <result property="industry"    column="industry"    />
        <result property="dataSource"    column="data_source"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdDate"    column="created_date"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedDate"    column="updated_date"    />
    </resultMap>

    <sql id="selectStockZtPoolEmVo">
        select zt_id, serial_no, stock_code, stock_name, change_percent, latest_price, turnover, circulating_market_value, total_market_value, turnover_rate, sealed_funds, first_sealed_time, last_sealed_time, biz_date, break_num, price_limit_Statistics, continuous_num, industry, data_source,created_by, created_date, updated_by, updated_date from stock_zt_pool_em
    </sql>

    <select id="selectStockZtPoolEmList" parameterType="StockZtPoolEm" resultMap="StockZtPoolEmResult">
        <include refid="selectStockZtPoolEmVo"/>
        <where>
            <if test="serialNo != null "> and serial_no = #{serialNo}</if>
            <if test="stockCode != null  and stockCode != ''"> and stock_code = #{stockCode}</if>
            <if test="stockName != null  and stockName != ''"> and stock_name like concat('%', #{stockName}, '%')</if>
            <if test="changePercent != null  and changePercent != ''"> and change_percent = #{changePercent}</if>
            <if test="latestPrice != null  and latestPrice != ''"> and latest_price = #{latestPrice}</if>
            <if test="turnover != null "> and turnover = #{turnover}</if>
            <if test="circulatingMarketValue != null  and circulatingMarketValue != ''"> and circulating_market_value = #{circulatingMarketValue}</if>
            <if test="totalMarketValue != null  and totalMarketValue != ''"> and total_market_value = #{totalMarketValue}</if>
            <if test="turnoverRate != null  and turnoverRate != ''"> and turnover_rate = #{turnoverRate}</if>
            <if test="sealedFunds != null "> and sealed_funds = #{sealedFunds}</if>
            <if test="firstSealedTime != null "> and first_sealed_time = #{firstSealedTime}</if>
            <if test="lastSealedTime != null "> and last_sealed_time = #{lastSealedTime}</if>
            <if test="bizDate != null  and bizDate != ''"> and biz_date = #{bizDate}</if>
            <if test="breakNum != null "> and break_num = #{breakNum}</if>
            <if test="priceLimitStatistics != null  and priceLimitStatistics != ''"> and price_limit_Statistics = #{priceLimitStatistics}</if>
            <if test="continuousNum != null "> and continuous_num = #{continuousNum}</if>
            <if test="industry != null  and industry != ''"> and industry = #{industry}</if>
            <if test="dataSource != null  and dataSource != ''"> and data_source = #{dataSource}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdDate != null "> and created_date = #{createdDate}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedDate != null "> and updated_date = #{updatedDate}</if>
        </where>
    </select>

    <select id="selectStockZtPoolEmByZtId" parameterType="Long" resultMap="StockZtPoolEmResult">
        <include refid="selectStockZtPoolEmVo"/>
        where zt_id = #{ztId}
    </select>

    <insert id="insertStockZtPoolEm" parameterType="StockZtPoolEm" useGeneratedKeys="true" keyProperty="ztId">
        insert into stock_zt_pool_em
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serialNo != null">serial_no,</if>
            <if test="stockCode != null and stockCode != ''">stock_code,</if>
            <if test="stockName != null and stockName != ''">stock_name,</if>
            <if test="changePercent != null and changePercent != ''">change_percent,</if>
            <if test="latestPrice != null and latestPrice != ''">latest_price,</if>
            <if test="turnover != null">turnover,</if>
            <if test="circulatingMarketValue != null and circulatingMarketValue != ''">circulating_market_value,</if>
            <if test="totalMarketValue != null and totalMarketValue != ''">total_market_value,</if>
            <if test="turnoverRate != null and turnoverRate != ''">turnover_rate,</if>
            <if test="sealedFunds != null">sealed_funds,</if>
            <if test="firstSealedTime != null">first_sealed_time,</if>
            <if test="lastSealedTime != null">last_sealed_time,</if>
            <if test="bizDate != null and bizDate != ''">biz_date,</if>
            <if test="breakNum != null">break_num,</if>
            <if test="priceLimitStatistics != null">price_limit_Statistics,</if>
            <if test="continuousNum != null">continuous_num,</if>
            <if test="industry != null">industry,</if>
            <if test="dataSource != null">data_source,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdDate != null">created_date,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updatedDate != null">updated_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serialNo != null">#{serialNo},</if>
            <if test="stockCode != null and stockCode != ''">#{stockCode},</if>
            <if test="stockName != null and stockName != ''">#{stockName},</if>
            <if test="changePercent != null and changePercent != ''">#{changePercent},</if>
            <if test="latestPrice != null and latestPrice != ''">#{latestPrice},</if>
            <if test="turnover != null">#{turnover},</if>
            <if test="circulatingMarketValue != null and circulatingMarketValue != ''">#{circulatingMarketValue},</if>
            <if test="totalMarketValue != null and totalMarketValue != ''">#{totalMarketValue},</if>
            <if test="turnoverRate != null and turnoverRate != ''">#{turnoverRate},</if>
            <if test="sealedFunds != null">#{sealedFunds},</if>
            <if test="firstSealedTime != null">#{firstSealedTime},</if>
            <if test="lastSealedTime != null">#{lastSealedTime},</if>
            <if test="bizDate != null and bizDate != ''">#{bizDate},</if>
            <if test="breakNum != null">#{breakNum},</if>
            <if test="priceLimitStatistics != null">#{priceLimitStatistics},</if>
            <if test="continuousNum != null">#{continuousNum},</if>
            <if test="industry != null">#{industry},</if>
            <if test="dataSource != null">#{dataSource},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdDate != null">#{createdDate},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedDate != null">#{updatedDate},</if>
         </trim>
    </insert>

    <update id="updateStockZtPoolEm" parameterType="StockZtPoolEm">
        update stock_zt_pool_em
        <trim prefix="SET" suffixOverrides=",">
            <if test="serialNo != null">serial_no = #{serialNo},</if>
            <if test="stockCode != null and stockCode != ''">stock_code = #{stockCode},</if>
            <if test="stockName != null and stockName != ''">stock_name = #{stockName},</if>
            <if test="changePercent != null and changePercent != ''">change_percent = #{changePercent},</if>
            <if test="latestPrice != null and latestPrice != ''">latest_price = #{latestPrice},</if>
            <if test="turnover != null">turnover = #{turnover},</if>
            <if test="circulatingMarketValue != null and circulatingMarketValue != ''">circulating_market_value = #{circulatingMarketValue},</if>
            <if test="totalMarketValue != null and totalMarketValue != ''">total_market_value = #{totalMarketValue},</if>
            <if test="turnoverRate != null and turnoverRate != ''">turnover_rate = #{turnoverRate},</if>
            <if test="sealedFunds != null">sealed_funds = #{sealedFunds},</if>
            <if test="firstSealedTime != null">first_sealed_time = #{firstSealedTime},</if>
            <if test="lastSealedTime != null">last_sealed_time = #{lastSealedTime},</if>
            <if test="bizDate != null and bizDate != ''">biz_date = #{bizDate},</if>
            <if test="breakNum != null">break_num = #{breakNum},</if>
            <if test="priceLimitStatistics != null">price_limit_Statistics = #{priceLimitStatistics},</if>
            <if test="continuousNum != null">continuous_num = #{continuousNum},</if>
            <if test="industry != null">industry = #{industry},</if>
            <if test="dataSource != null">data_source = #{dataSource},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdDate != null">created_date = #{createdDate},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updatedDate != null">updated_date = #{updatedDate},</if>
        </trim>
        where zt_id = #{ztId}
    </update>

    <delete id="deleteStockZtPoolEmByZtId" parameterType="Long">
        delete from stock_zt_pool_em where zt_id = #{ztId}
    </delete>

    <delete id="deleteStockZtPoolEmByZtIds" parameterType="String">
        delete from stock_zt_pool_em where zt_id in
        <foreach item="ztId" collection="array" open="(" separator="," close=")">
            #{ztId}
        </foreach>
    </delete>
</mapper>
