<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FinancialTotalMapper">
    
    <resultMap type="FinancialTotal" id="FinancialTotalResult">
        <result property="financialTotalId"    column="financial_total_id"    />
        <result property="financialProductName"    column="financial_product_name"    />
        <result property="financialProductCode"    column="financial_product_code"    />
        <result property="financialGroup"    column="financial_group"    />
        <result property="latestNetValue"    column="latest_net_value"    />
        <result property="currentHoldingCost"    column="current_holding_cost"    />
        <result property="currentHoldingShares"    column="current_holding_shares"    />
        <result property="currentHoldingAmount"    column="current_holding_amount"    />
        <result property="currentHoldingProfit"    column="current_holding_profit"    />
        <result property="totalProfit"    column="total_profit"    />
        <result property="currentHoldingYield"    column="current_holding_yield"    />
        <result property="hisTotalYield"    column="his_total_yield"    />
        <result property="remark"    column="remark"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdDate"    column="created_date"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedDate"    column="updated_date"    />
    </resultMap>

    <sql id="selectFinancialTotalVo">
        select financial_total_id, financial_product_name, financial_product_code, financial_group, latest_net_value, current_holding_cost, current_holding_shares, current_holding_amount, current_holding_profit, total_profit, current_holding_yield, his_total_yield, remark, created_by, created_date, updated_by, updated_date from financial_total
    </sql>

    <select id="selectFinancialTotalList" parameterType="FinancialTotal" resultMap="FinancialTotalResult">
        <include refid="selectFinancialTotalVo"/>
        <where>  
            <if test="financialProductName != null  and financialProductName != ''"> and financial_product_name like concat('%', #{financialProductName}, '%')</if>
            <if test="financialProductCode != null  and financialProductCode != ''"> and financial_product_code = #{financialProductCode}</if>
            <if test="financialGroup != null  and financialGroup != ''"> and financial_group = #{financialGroup}</if>
        </where>
    </select>
    
    <select id="selectFinancialTotalByFinancialTotalId" parameterType="Long" resultMap="FinancialTotalResult">
        <include refid="selectFinancialTotalVo"/>
        where financial_total_id = #{financialTotalId}
    </select>
        
    <insert id="insertFinancialTotal" parameterType="FinancialTotal" useGeneratedKeys="true" keyProperty="financialTotalId">
        insert into financial_total
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="financialProductName != null and financialProductName != ''">financial_product_name,</if>
            <if test="financialProductCode != null">financial_product_code,</if>
            <if test="financialGroup != null">financial_group,</if>
            <if test="latestNetValue != null">latest_net_value,</if>
            <if test="currentHoldingCost != null">current_holding_cost,</if>
            <if test="currentHoldingShares != null">current_holding_shares,</if>
            <if test="currentHoldingAmount != null">current_holding_amount,</if>
            <if test="currentHoldingProfit != null">current_holding_profit,</if>
            <if test="totalProfit != null">total_profit,</if>
            <if test="currentHoldingYield != null">current_holding_yield,</if>
            <if test="hisTotalYield != null">his_total_yield,</if>
            <if test="remark != null">remark,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdDate != null">created_date,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updatedDate != null">updated_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="financialProductName != null and financialProductName != ''">#{financialProductName},</if>
            <if test="financialProductCode != null">#{financialProductCode},</if>
            <if test="financialGroup != null">#{financialGroup},</if>
            <if test="latestNetValue != null">#{latestNetValue},</if>
            <if test="currentHoldingCost != null">#{currentHoldingCost},</if>
            <if test="currentHoldingShares != null">#{currentHoldingShares},</if>
            <if test="currentHoldingAmount != null">#{currentHoldingAmount},</if>
            <if test="currentHoldingProfit != null">#{currentHoldingProfit},</if>
            <if test="totalProfit != null">#{totalProfit},</if>
            <if test="currentHoldingYield != null">#{currentHoldingYield},</if>
            <if test="hisTotalYield != null">#{hisTotalYield},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdDate != null">#{createdDate},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedDate != null">#{updatedDate},</if>
         </trim>
    </insert>

    <update id="updateFinancialTotal" parameterType="FinancialTotal">
        update financial_total
        <trim prefix="SET" suffixOverrides=",">
            <if test="financialProductName != null and financialProductName != ''">financial_product_name = #{financialProductName},</if>
            <if test="financialProductCode != null">financial_product_code = #{financialProductCode},</if>
            <if test="financialGroup != null">financial_group = #{financialGroup},</if>
            <if test="latestNetValue != null">latest_net_value = #{latestNetValue},</if>
            <if test="currentHoldingCost != null">current_holding_cost = #{currentHoldingCost},</if>
            <if test="currentHoldingShares != null">current_holding_shares = #{currentHoldingShares},</if>
            <if test="currentHoldingAmount != null">current_holding_amount = #{currentHoldingAmount},</if>
            <if test="currentHoldingProfit != null">current_holding_profit = #{currentHoldingProfit},</if>
            <if test="totalProfit != null">total_profit = #{totalProfit},</if>
            <if test="currentHoldingYield != null">current_holding_yield = #{currentHoldingYield},</if>
            <if test="hisTotalYield != null">his_total_yield = #{hisTotalYield},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdDate != null">created_date = #{createdDate},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updatedDate != null">updated_date = #{updatedDate},</if>
        </trim>
        where financial_total_id = #{financialTotalId}
    </update>

    <delete id="deleteFinancialTotalByFinancialTotalId" parameterType="Long">
        delete from financial_total where financial_total_id = #{financialTotalId}
    </delete>

    <delete id="deleteFinancialTotalByFinancialTotalIds" parameterType="String">
        delete from financial_total where financial_total_id in 
        <foreach item="financialTotalId" collection="array" open="(" separator="," close=")">
            #{financialTotalId}
        </foreach>
    </delete>
</mapper>